
.content{
  width: 85.6%;
  margin: 0 auto;
}
@media (max-width:1200px){
  .content{
    width: calc(100% - 64px);
  }
}
@media (max-width:810px){
  .content{
    width: calc(100% - 40px);
  }
}
.linkBlock{
  width: 64px;
  margin-bottom: 48px;
}
@media (max-width:810px){
  .linkBlock{
    margin-bottom: 32px;
  }
}
.link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #909090;
text-decoration: none;
font-size: 16px;
font-weight: 400;
line-height: 20px; /* 125% */
transition: all ease .3s;
}
@media(hover: hover){
.link:hover .svg path{
  fill: #fff
}
}
@media(hover: hover){
.link:hover span{
  color: #fff;
}
}

.svg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg svg path{
  fill: #909090;

  transition: all ease .3s;
}
.link span{
  transition: all ease .3s;
}
.header{
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 48px;
  gap: 120px
}

@media (max-width:810px){
  .header{
    flex-direction: column;
    gap: 32px;
    align-items: start;
    margin-bottom: 32px;
  }
}
.titleBlock{
  max-width: 812px;
}
.title{
font-size: 40px;
font-weight: 400;
line-height: 44px; /* 110% */
margin-bottom: 20px;
}
.subtitle{
  color: #909090;
font-size: 16px;
font-weight: 300;
line-height: 24px; /* 150% */
}
.list{
  min-width: 30%;
  flex: 0 0 auto;
}
.list li{
  list-style: none;
  white-space: nowrap;
}
.list li:last-child{
  margin-bottom: 0;
}
.listItem{
  display: flex;
  align-items: center;
  color: #909090;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px; /* 125% */
  margin-bottom: 16px;
}
.listItem::before{
  margin-right: 12px;
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
}
.listItem span{
  color: #FFF;
  margin-left: 8px;

}
.homeImg{
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 64px;
}
.homeImg img{
width: 100%;
object-fit: cover;
}

@media (max-width:810px){
  .homeImg{
    margin-bottom: 36px;
    border-radius: 8px;
  }
}


.contextBlock{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 48px;
  gap: 48px;
}
@media (max-width:810px){
  .contextBlock{
    padding-top: 32px;
    flex-direction: column;
    gap: 32px;
  }
}
.contextTextBlock{
  width: 50%;

}
@media (max-width:810px){
  .contextTextBlock{
    width: 100%;
  }
}
.contextTitle{
  width: 50%;
  flex: 1 1 auto;
  color: #FFF;
font-size: 40px;
font-weight: 400;
line-height: 44px; /* 110% */
white-space: nowrap;
}
@media (max-width:1200px){
  .contextTitle{
    font-size: 32px;
  }
}
.contextText{
  margin-bottom: 48px;
  max-width: 696px;
}
@media (max-width:810px){
  .contextText{
    margin-bottom: 32px;
  }
}
.contextSubtitle{
  margin-bottom: 12px;
  color: #FFF;
font-size: 20px;
font-weight: 400;
line-height: 24px; /* 120% */
}
.contextParagraph{
  color: #909090;
font-size: 16px;
font-weight: 300;
line-height: 24px; /* 150% */
}
.contextParagraphItem{
  margin-bottom: 12px;
}

.examplesBlock{
  display: flex;
  gap: 48px;
  justify-content: space-between;
  margin-bottom: 48px;
}
@media (max-width:810px){
  .examplesBlock{
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }
}
.exampleBlock{
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}
@media (max-width:810px){
  .exampleBlock{
    border-radius: 8px;
  }
}
.examplesBlock img{
  width: 100%;
  object-fit: cover;
}
.exampleMainImg{
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 12px;
}
@media (max-width:810px){
  .exampleMainImg{
    margin-bottom: 12px;
    border-radius: 8px;
  }
}
.exampleMainImg img{
  width: 100%;
  object-fit: cover;
}
.exampleText{
  color: #909090;
font-size: 16px;
font-weight: 300;
line-height: 24px; /* 150% */
margin-bottom: 48px;
}
@media (max-width:810px){
  .exampleText{
    margin-bottom: 32px;
  }
}
.finalyBlock{
  padding-top: 48px;
  margin-bottom: 48px;
}
.resultBlock{
  align-items: start;
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 64px;
}
@media (max-width:810px){
  .resultBlock{
    flex-direction: column;
    gap: 32px;
    margin-bottom: 36px;
  }
}
.resultTilte{
  width: 50%;
font-size: 40px;
font-weight: 400;
line-height: 44px; /* 110% */
}
@media (max-width:1200px){
  .resultTilte{
    font-size: 32px;
  }
}
.resultList{
  width: 50%;
  font-size: 20px;
font-weight: 400;
line-height: 24px; /* 120% */
}
@media (max-width:810px){
  .resultList{
    width: 100%;
  }
}
.resultList li{
  margin-bottom: 12px;
  list-style: none;
  display: flex;
  align-items: start;
}
.resultList li::before{
  content: '';
  display: flex;
  /* align-items: center;
  justify-content: center; */
  min-width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  margin-right: 12px;
  margin-top: 10px;
  /* align-self: center; */
}
.resultList li:last-child{
  margin-bottom: 0px;
}

.finalyBlock{}
@media (max-width:810px){
  .finalyBlock{
    padding-top: 32px;
    margin-bottom: 32px;
  }
}
.title{

}
@media (max-width:1200px){
  .title{
    font-size: 32px;
  }
}
@media (max-width:810px){
  .title{
    margin-bottom: 4px;
  }
}
.works{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 48px;
  padding-top: 28px;
  }
  @media (max-width:1200px){
    .works{
      padding-top: 12px;
    }
  }
  @media (max-width:810px){
    .works{
      flex-direction: column;
      gap: 32px;
      margin-bottom: 32px;
    }
  }
  .NavLink{
    width: 50%;
    text-decoration: none;
    color: #fff;
  }
  @media (max-width:810px){
    .NavLink{
      width: 100%;
    }
  }
  .item{
    
    transition: all ease .3s;
    overflow: hidden;
    cursor: pointer;
  }
  @media(hover: hover){
  .item:hover .img{
  transform: scale(1.07);
  }
  }
  

  .imgBlock{
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 24px;
  
  }
  .img{
    width: 100%;
    image-rendering: -moz-crisp-edges; /* Firefox */
  -ms-interpolation-mode: nearest-neighbor;  /* IE */
  image-rendering: crisp-edges; /* Стандартное свойство */
    transition: all ease .5s;
  }
  .img img{
    width: 100%;
    object-fit: cover;
  }
  
  .info{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 8px;
  
  }
  .icon{
    margin-right: 8px;
  }
  .place{
    color: #909090;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  }
  .date{
    color: #909090;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  flex-grow: 3;
  text-align: end
  }
  .subtitleWork{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px; 
  }