.footer{
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 32px 0;
}
@media (max-width:1200px){
  .footer{
    padding: 24px;
  }
}
@media (max-width:810px){
  .footer{
    padding: 20px;
  }
}
.navigator{

}
.list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.item{
display: flex;
align-items: center;
}
.item::after{
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #909090;
  margin: 0 16px;
}
.list li:last-child::after{
  content: '';
  display: none;
}
.link{
  color: #909090;
font-size: 16px;
font-weight: 400;
line-height: 20px; /* 125% */
text-decoration: none;
transition: all ease .3s;
}
@media(hover: hover){
.link:hover{
  color: #fff;
}
}
